# QRMENU ana dizini için .htaccess
<IfModule mod_rewrite.c>
    RewriteEngine On

    # Eğer istenen dosya veya dizin mevcutsa yönlendirme yapma
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Tüm istekleri public klasörüne yönlendir
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>